<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 login-back">
      <div class="row login-head">
        <div class="col-md-12 text-center">
          SIGN UP
        </div>
      </div>
      <div class="row white-bg">
        <div class="col-md-12">
          <form>
            <div class="row">
              <div class="col-md-12 form-data">
                <input type="text" name="name" class="form-control input-text" required autocomplete="off">
                <label for="name" class="label">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-data">
                <input type="text" name="email" class="form-control input-text" autocomplete="off" required>
                <label for="email" class="label">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-data">
                <input type="text" name="email" class="form-control input-text" autocomplete="off" required>
                <label for="email" class="label">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-data">
                <input type="text" name="confpass" class="form-control input-text" autocomplete="off" required>
                <label for="confpass" class="label">Confirm Password</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <button class="btn btn-login" (click)="gotoLogin()">Sign Up</button>
        </div>
      </div>

    </div>
  </div>
</div>
